.header { 
	background: #E6E6E6;
	cursor: pointer;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 20px;
}
.headerSortUp { 
	background-image: url(../img/asc.gif);
	background-color: #3399FF;
	color: #FFF;
}
.headerSortDown { 
	background-image: url(../img/desc.gif);
	background-color: #3399FF;
	color: #FFF;
}

body {
	background: #ececec;
	font-family: Arial;
}
#date {
	text-align: center;
	color: #808080;
}
#list {
	background: #fff;
	padding: 20px 20px 20px 25px;
	border-radius: 2px;
	box-shadow: 0 0 1px 1px #D6D6D6;
	width: 28%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 100px;
}
table {
	margin: auto;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 1px 1px #D6D6D6;
	border-collapse: collapse;
}
p {
	margin: 0 0 1px 0;
}
td {
	padding: 2px;
}
td:nth-child(1) {
	border-right: 1px solid #D5D5D5;
}
td:nth-child(2) {
	padding-left: 5px;
}
th {
	padding: 3px 15px 2px 0px;
}
tr {
	border-bottom: 1px solid #D5D5D5;
}
td:nth-child(1), td:nth-child(n+3) {
	text-align: center;
}
